body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

main {
    background-image: url(images/MAIN/main-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}



/* MAIN */

.header-navbar {
    padding-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    display: inline-flex;

    margin-right: 25px;

    font-size: 18px;
    font-weight: 600;

    color: white;

    transition: all 0.5s ease;

}

.header-nav a:hover {
    transform: scale(1.02);
}

.header-btn a {
    display: inline-flex;
    
    font-size: 18px;
    font-weight: 600;

    color: #fff;
    background-color: rgba(26, 62, 62, 1);
    
    padding: 12px 24px;

    border-radius: 4px;

    transition: all 0.5s ease;

}

.header-btn a:hover {
    transform: scale(1.02);
}

.main-info {
    margin-top: 460px;
}

.main-info h2 {
    font-weight: 700;
    font-size: 50px;

    color: #fff;

    margin-bottom: 40px;
}

.main-info-bar-opaciti {
    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: #ffffff18;
    backdrop-filter: blur(2px);
}

.main-info-bar-1,
.main-info-bar-2,
.main-info-bar-3 {
    margin-right: 25px;

}

.main-info-bar-1 p,
.main-info-bar-2 p,
.main-info-bar-3 p {
    margin-top: 8px;

    color: #fff;
    font-weight: 400;
    font-size: 14px;
    

}

.main-info-bar-btn a:first-of-type {
    line-height: 150%;

    color: #fff;

    font-size: 16px;
    font-weight: 700;

    margin-right: 80px;

}

.main-info-bar-btn {
    display: flex;
    align-items: center;

    padding: 14px 16px ;
    border: 1px  #fff solid;
    border-radius: 10px;
}

.main-info-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 40px 42px;
}

.main-info-bar-abtn {
    color: black;
    background-color: #fff;

    border-radius: 4px;

    padding: 14px 16px;

    margin-bottom: 27px;

    font-weight: 700;
    font-size: 16px;

    transition: all 0.5s ease;
}

.main-info-bar-abtn:hover {
    transform: scale(1.02);

}

.main-info-bar-btn img:last-of-type {
    transition: all 0.5s ease;
    display: inline-flex;
}

.main-info-bar-btn img:last-of-type:hover {
    transform: scale(1.3);
}

main {
    margin-bottom: 100px;
}

.main-info {
    padding-bottom: 82px;
}



/* PROGRAM */

.program-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.program-left {
    display: flex;
    align-items: center;

    margin-right: -100px;

}

.program-img-play {
    position: absolute;
    z-index: 10;

    top: 1000px;
}

.program-left-bgimg img:first-of-type {
    position: relative;
}

.program-header {
    color: rgba(242, 190, 34, 1);

    font-weight: 400;
    font-size: 24px;
}

.program-right h2 {
    font-size: 32px;
    font-weight: 800;

    margin-bottom: 40px;
}

.program-right p:last-of-type{
    color: rgba(24, 18, 30, 1);

    font-size: 18px;
    font-weight: 400;

    margin-bottom: 40px;
}

.program-right-btn a {
    display: inline-flex;
    
    color: #fff;
    background-color: rgba(26, 62, 62, 1);

    padding: 16px 36px;

    border-radius: 4px;

    transition: all 0.5s ease;
}

.program-right-btn a:hover {
    transform: scale(1.02);
}

.program-inner {
    margin-bottom: 100px;
}

.program-left-bgimg {
    position: relative;

    left: -210px;
    bottom: -100px;
}

.play {
    position: relative;

    bottom: 175px;
    right: 200px;

    transition: all 0.5s ease;
}

.play:hover {
    transform: scale(1.2); ;
}

.program-inner {
    padding-bottom: 100px;
}



/* BEST */